@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    font-family: 'Poppins', sans-serif; /* Applying Poppins font to the root */
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; /* Ensure the body also uses Poppins */
    background-color: #111;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}